@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    text-align: left;
    text-decoration: none;
    font-family: IBM Plex Sans;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    font-weight: normal;
}

body {
    background-color: black;
    max-height: 792px;
}

.base {
    width: 612px;
    height: 792px;
    flex-grow: 0;
    /* padding: 46px 13px 0px 16px; */
    background-color: #fff;
    margin: auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* text-colours, fonts, sizes and other misc*/
.text--gradiant {
    background-image: linear-gradient(94deg, #ff26b2 0%, #851bd9 64%, #3f0fff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.s {
    font-size: 9px;
}

.m {
    font-size: 10px;
}

.l {
    font-size: 11px;
}

.xl {
    font-size: 12px;
}

.text--gray {
    color: #999;
    font-size: 300;
}

.text--boldGray {
    font-weight: bold;
    color: #999;
}

.text--bold {
    font-weight: bold;

}

hr {
    border: 0;
    height: 0.5px;
    background-color: #999;
    max-width: 342px;
}


/*header css*/
.hero {
    display: flex;
    gap: 64px;
    padding-top: 46px;
    margin-left: 16px;
    margin-bottom: 49px;
}

.hero__text {
    max-width: 342px;
}

.title {
    font-size: 44px;
    font-weight: bold;
}

.title__description {
    font-size: 12px;
    font-weight: bold;
}

.header__description {
    margin-top: 14px;
    margin-bottom: 14px;
}

.socialMediaBox {
    width: 246px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px 0px;
}

.email,
.dribble,
.linkedin,
.github {
    display: flex;
    gap: 2px;
}

.email {
    /* I tried with flex-basis:100%; but that 
    makes the whole width of the box a link*/
    margin-right: 100%;
}

.picture {
    align-self: center;
}

/*main section css*/

.mainDescription {
    display: flex;
    flex-direction: row;
}

.sectionTitle {
    margin-bottom: 6px;
}

hr {
    margin-bottom: 6px;
}

.experience {
    margin-left: 16px;
    min-width: 342px;
    margin-right: 16px;
}

.experience p {
    max-width: 342px;
}


.experience .contentBox p:first-of-type {
    margin-top: 2px;
}

.experience .contentBox p:last-of-type {
    margin-bottom: 2.5px;
}


.GrayText--margin {
    margin-bottom: 7.5px;
}

.descriptionLinks {
    display: flex;
    width: fit-content;
    text-decoration: underline;
}

.descriptionLinks:last-of-type p:not(first-of-type) {
    margin-top: 9px;
}

.rightSideContent {
    max-width: 225px;
}

.rightSideContent p {
    margin-top: 2px;
}

.title--margin {
    margin-top: 22px;
}

.marginLinkDescription {
    margin-top: 9px;
}